{%extends "base.html"%}    
{% block content %} 
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card justify-content-center">
                    <!-- <img src="../static/wallet.png" alt="wallet picture" class="card-image-top" style="justify-content: center;"width="200" height="100"> -->
                    <div class="card-body mt-2">
                        <h3 class="card-title">Wallet Generator</h2>
                            <p class="card-text">
                                You can create your <span style='color:rgb(179,134,0)'>Chiz</span> wallet by clicking on the button
                            </p>
                            <input type="button" class="btn text-white btn-lg generate-btn bg-dark" value="Generate Wallet">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row text-center">
            <label class="col-sm-2 mt-5">Public Key:</label>
            <div class="col-md-10">
                <textarea id="public_key"  rows="6" class="form-control" readonly></textarea>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <label class="col-sm-2 mt-5">Private Key:</label>
            <div class="col-md-10">
                <textarea id="private_key"  rows="6" class="form-control" readonly></textarea>
            </div>
        </div>
        <div class="row " id="warning" style="display:none">
            <div class="col-sm-12 mt-5 mb-3">
              <div class="alert alert-dark" role="alert">
                IMPORTANT
                <ul>
                  <li>Save you private and public keys. These keys cannot be recovered!</li>
                  <li>Don't share your private key with anyone!</li>
                </ul> 
              </div>
            </div>
          </div>
    </div>
    
{% endblock content %}
{% block script%}
<script src="../static/js/generate_wallet.js"></script>

{% endblock %}