{%extends "base.html"%}    
{% block head%}{{super()}}{% endblock %}
{% block content %} 
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card justify-content-center">
                    <!-- <img src="../static/wallet.png" alt="wallet picture" class="card-image-top" style="justify-content: center;"width="200" height="100"> -->
                    <div class="card-body mt-2">
                        <h3 class="card-title">Wallet Generator</h2>
                            <p class="card-text">
                                You can create your <span style='color:rgb(179,134,0)'>Chiz</span> wallet by clicking on the button
                            </p>
                            <input type="button" class="btn text-white btn-lg generate-btn bg-dark" value="Generate Wallet">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row text-center">
            <label class="col-sm-2 mt-5">Public Key:</label>
            <div class="col-md-10">
                <textarea id="public-key"  rows="5" class="form-control" readonly></textarea>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <label class="col-sm-2 mt-5">Private Key:</label>
            <div class="col-md-10">
                <textarea id="private-key"  rows="5" class="form-control" readonly></textarea>
            </div>
        </div>
    </div>
{% endblock content %}